body{
    font-family: proximanova,arial,sans-serif;
    font-size: 13px;
    color: #f50;
    background: rgb(12, 12, 12);
    display: flex;
    flex-direction: column;
}
body:after {
    position: fixed;
    background-color: transparent;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
div {
    display: block;
}

#background-banner{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 80px;
    left: 0;
    background: linear-gradient(to bottom,#000 0px,transparent 150px), url(./img/background-2.png) center 0px no-repeat;
    background-size: cover;
}

#background-banner.fixed{
    position: fixed;
    top: 0;

}

.content{
    max-width: 1036px;
    margin: 0 auto;
    position: relative;
}

.header-container .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header-container .content.navbar{
    width: calc(100% - 40px);
    max-width: 1036px;
}

.header-container .content .logo{
    width: 140px;
    height: 10px;
    background: url(./img/logo1.png) center 0 no-repeat;
    background-size: 40%;
    cursor: pointer;
    margin: 20px 0;
}

form{
    display: block;
    margin-top: 0em;
}

#barra-ricerca{
    background: whitesmoke;
    border-radius: 100px;
    position: relative;
    display: flex;
}

input{
    writing-mode: horizontal-tb;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial
}

input[type="text" i]{
    padding:1px 2px;
}

button, input, select, textarea{
    font-family: proximanova,arial,sans-serif;
}

input[type=email], input[type=number], input[type=password], input[type=text] {
    background: var(--themed-white);
    color: var(--themed-black);
}

#barra-ricerca-box{
    height: 25px;
    background: 0 0;
    color: #3a3a3a;
    border: none;
    transition: .1s;
    font-size: 15px;
    border-radius: 0;
    position: relative;
    width: 400px;
    padding-left: 20px;
    outline: transparent;
    transition: .5s;
}

input[type="submit" i] {
    appearance: auto;
    user-select: none;
    white-space: pre;
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: -internal-light-dark(black, white);
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    box-sizing: border-box;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

#barra-ricerca-submit{
    width: 20px;
    height: 20px;
    background: url(./icon/search-submit.png) 3px 0px no-repeat;
    background-size: 19px;
    border: none;
    color: rgb(170, 44, 44);
    font-weight: 700;
    cursor: pointer;
    border-radius: 100px;
    text-shadow: 1px 1px #bd3e00;
    font-size: 10px;
    vertical-align: bottom;
    transition: .2s;
    margin: 4px;
    flex-shrink: 0;
}

.header-container .content .placer{
    display: none;
}

.header-container .content .menu-container{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 15px 0;
    z-index: 10;
}


.header-container .content .menu-container .menu-button{
    width: 25px;
    height: 18px;
    position: relative;
    cursor: pointer;
    padding: 21px 0 21px 20px;
    z-index: 100;
}

.header-container .content .menu-container .menu-button::after, .header-container .content .menu-container .menu-button::before{
    content: "";
    position: absolute;
    height: 2px;
    width: 25px;
    background: rgb(255, 255, 255);
    transition: .2s;
}

.header-container .content .menu-container .menu-button::before{
    left: 13px;
    top: 21px;
    box-shadow: 0 9px 0 0 rgb(255, 255, 255);
}

.header-container .content .menu-container:hover .menu-button::before{
    top: 24px;
    box-shadow: none;
    transform: rotate(45deg);
}

.header-container .content .menu-container .menu-button::after{
    top: 39px;
    left: 13px;
}

.header-container .content .menu-container:hover .menu-button::after{
    top: 24px;
    transform: rotate(-45deg);
}

.header-container .content .menu-container .submenu-container{
    position: absolute;
    display: none;
    z-index: 10;
    top: 70px;
    min-width: 200px;
    right: 0;
    padding: 90px 30x 20px;
    cursor: auto;
}
.header-container .content .menu-container:hover .submenu-container{
    display: block;
}

.login-content{
    text-align: left;
}

.header-container .content .menu-container .submenu-container .login{
    padding: 15px;
    background:whitesmoke;
    background-color: hsla(0, 0, 100%, .2);
    border-radius: 10px;
}

.header-container .content .menu-container .submenu-container .user-submenu{
    display: none;
}

.log-link{
    padding: 4px 4px 4px 35px;
    background: url(./icon/user-icon.svg) no-repeat;
    font-weight: 400;
    color: #000;
    font-size: 13px;
    top: -1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-size: 20px;
    border-radius: 50px;
    white-space: nowrap;
    height: 25px;
    position: relative;
    transition: .2s;
}

.log-link:hover{
    background-color:rgb(57, 143, 255);
}
.log-link-profile{
    background-position: 10px 6px;
}








.main-container{
    width: 1036px;
    margin: 0 auto;
    background: #eee;
    position: relative;
    box-shadow: 0 0 3px rgb(0 0 0 / 39%);
    border-radius: 10px;
}

#banner{
    position: relative;
    margin: 0 auto;
    z-index: 1;
    border-radius: 8px 8px 0 0;
}

#banner img{
    border-radius: 8px 8px 0 0;
}

#banner img:not(.dlc){
    width: 100%;
    display: block;
}

#banner .prezzo{
    font-size: 24px;
    color: #fff;
    text-shadow: 0 0 8px #000;
    display: inline-block;
    position: absolute;
    font-weight: 700;
    right: 10px;
    bottom: 5px;
}
.main-cat{
    box-sizing: border-box;
    padding: 20px;
    background: #eee;
    border-radius: 0 0 8px 8px;
    position: relative;
    z-index: 1;
}

.ombre{
    box-shadow: 0 0 8px 0 rgb(0 0 0 / 10%);
}

.titolo{
    display: flex;
    justify-content: space-between;
    color: #777;
    margin-bottom: 10px;
    align-items: center;
}
.titolo .categoria{
    background: #eee;
    color: #444;
    position: relative;
    font-weight: 700;
    font-size: 17px;
    margin: 4px 0;
}

.titolo .categoria:first-of-type{
    padding-right: 10px;
}

.tutti{
    font-size: 13px;
    padding: 5px 10px;
    font-weight: 400;
    border-radius: 50px;
    font-weight: 700;
    color: #444;
    box-shadow: none;
    border: 1px solid rgba(0,0,0,.5);
}

.catalogo{
    position: relative;
    font-size: 0;
    text-align: center;
    margin: 0 -10px 30px;
}

.item{
    width: calc(25% - 20px);
    display: inline-block;
    margin: 0 10px 20px;
    position: relative;
    border-radius: 8px;
    vertical-align: top;
}

a{
    color: rgb(255, 255, 255);
}

a, a:hover{
    text-decoration: none;
}

.item .cover{
    position: relative;
    display: inline-block;
    transition: .1s;
    width: 100%;
}

img {
    border: 0;
}

.main-container, .ombre {
    box-shadow: 0 0 8px 0 rgb(0 0 0 / 10%);
}

.badge{
    width: 31px;
    height: 31px;
    border-radius: 100%;
    background-image: url(./icon/badge.png);
    background-repeat: no-repeat;
    background-size: 35px;
    flex: none;
}

.item .badge{
    position: absolute;
    bottom: 5px;
    left: 5px;
}

.badge.steam{
    background-color: #000;
    background-position: -7px -5px;
}

.badge.playstation{
    background-color: #004eff;
    background-position: -3px -298px;
    z-index: 100;
}
.item .cover img {
    width: 100%;
    border-radius: 8px;
}

.item .shadow{
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 80px;
    box-shadow: inset 0 -60px 30px -30px rgb(0 0 0 / 40%);
    border-radius: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.item .prezzo{
    color: #fff;
    bottom: 3px;
    right: 9px;
    position: relative;
    font-size: 19px;
    font-weight: 700;
    text-shadow: 0 0 4px #000;
    margin-left: auto;
}

.item .nome {
    color: #777;
    font-size: 13px;
    margin-top: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}
.footer-container{
    background: #242424;
    box-shadow: 0px -20px 40px 50px #242424, 0px 362px 0 120px #242424;
    position: relative;
    padding: 10px 0 20px;
}

.footer{
    position: relative;
    text-align: center;
}

.footer .informative{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer .informative .links{
    color: white;
    border-right: 1px solid hsla(0, 0, 100%,.5);
    margin-right: 10px;
    padding-right: 10px;
    height: 17px;
}

.copyright{
    display: flex;
}

.payment-container{
    display: flex;
    width: 100%;
    flex-direction: column;
}

#licensa{
    color: #fff;
    text-align: left;
    opacity: 0.5;
}

#payment-type{
    display: flex;
    align-items: flex-end;
}

#payment-type div{
    display: inline-block;
    background: url(./icon/loghi.png) no-repeat;
    vertical-align: top;
}

#payment-type div, #payment-type img{
    margin-right: 10px;
}

#payment-type img.visa{
    max-width: 75px;
}

#payment-type div, .payment-paypal{
    background-position: 0 -57px;
    width: 74px;
    height: 20px;
    background-size: 100%;
}

@media screen and (max-width: 1036px)
{
.main-container {
    width: 100%;
}

.header-container .content{
    padding: 0 20px;
}
#barra-ricerca-box{
    width: 380px;
}
#banner{
    display: block;
    overflow: hidden;
    border-radius: 8px 8px 0 0;
}
#banner img:not(.dlc){
    width:130%;
    transform: translate(-12%);
}
.header-container .content .menu-container{
    padding: 15px 0;
    position: fixed;
    right: 0;

}
.header-container .content .placer{
    display: block;
}
.header-container .content .menu-container .menu-main{
    display: none;
}
.header-container .content .menu-container .menu-button{
    background: #000;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    padding: 0;
    text-align: center;
    right: 10px;
}
.header-container .content .menu-container .submenu-container{
    top: 65px;
    right: 10px;
}
.header-container .content .menu-container .submenu-container .user-submenu{
    display: flex;
    justify-content: center;
}
.header-container .content .menu-container .menu-button::before{
    top: 15px;
}
.header-container .content .menu-container .menu-button::after{
    top: 33px;
}
.copyright{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#payment-logo{
    padding: 8px 0 6px;
    text-align: center;
}

.footer .informative{
    flex-direction: column;
}
.footer .informative .links{
    color: white;
    border-right: none;
    margin-right:  0;
    padding-right: 0;
    height: 20px;
}
}

@media screen and (max-width: 700px)
{
    #background-banner{
        display: none;
    }
    .header-container .content{
        flex-direction: column;
        padding: 15px 0;
    }
    .header-container .content .logo{
        margin: 0 0 15px;
    }
    .form-ricerca{
        width: 100%;
    }
    #barra-ricerca-box{
        width: calc(100% -64px);
    }
    .header-container .content .menu-container{
        position: fixed;
        right: 5px;
        padding: 0;
        top: 5px;
        z-index: 100;
    }

    .header-container .content .menu-container .submenu-container{
        top: 50px;
        right: 4px;
    }
}