body {
 background-color: rgb(255, 255, 255);
 font-family: Verdana, Helvetica, sans-serif;
}
@media only screen and (max-width: 900px) {
  body {
    background-color: white;
  }
}
.navbar{
  	background-color: black;
  	overflow: hidden;
}
.navbar a{
	float: left;
	color:white;
	text-decoration:none;
	text-align:center;
	padding: 14px 16px;
	font-size: 17px;
	transition:background-color .5s;
}
.navbar a:hover{
	background-color:#ddd;;
	color: black;
}
.navbar a.active{
	background-color:#ddd;;
	color: black;
}
table{
	border-collapse: collapse;
	border: 1px solid black;
	width: 100%;
}
th,td{
	text-align: left;
}
th{
	background-color:black;
	color: white;
}
a{
	float: left;
	color:grey;
	text-decoration:none;
}
a:hover{
	color: black;
}